@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

.gallery-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery-img:hover {
  transform: scale(1.05);
}
